NODE_ENV=development

PORT=8000
MONGODB_URI=your_mongodb_connection_string
CLIENT_URL=http://localhost:5173

PROCESSING_FEE=charges_applied
LOW_STOCK_THRESHOLD=minimum_packets

ACCESS_TOKEN_SECRET=your_access_secret
ACCESS_TOKEN_EXPIRY=1h

REFRESH_TOKEN_SECRET=your_refresh_secret
REFRESH_TOKEN_EXPIRY=24h

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_PHONE=
ADMIN_CITY=

RAZORPAY_KEY_ID=your_key
RAZORPAY_KEY_SECRET=your_secret

MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USER=your_brevo_user
MAIL_PASS=your_brevo_password
MAIL_FROM=your_email@example.com